<template id="tpl-coupon-card">
  <article class="coupon-card">
    <div class="row">
      <div class="col1">
        <img class="coupon-avatar" data-image />
      </div>
      <div class="col2">
          <div class="coupon-title" data-title></div>
          <div id="stars-wrapper" class="stars-wrapper">
            <div id="stars" data-stars></div>
            <!-- <div id="tooltip" class="tooltip"><ul></ul></div> -->
          </div>
      </div>

      <div class="col3">
        <button class="btn-info" data-detail>i</button>
      </div>
    </div>
    <div class="row dashed">
      <div class="col1">
        <div class="coupon-meta" data-count></div>
      </div>
      <div class="col2">
        <button class="btn btn-primary" data-use>USAR</button>
      </div>
  </div>
  </article>
</template>
