<template id="tpl-modal-detail">
  <div class="modal-root">
    <div class="modal-backdrop" data-close></div>

    <div class="modal-sheet">
      <div class="modal-card">
        <button class="btn-ghost" data-close>X</button>
        <img class="detail-image" data-image>

        <h2 class="detail-title" data-title></h2>
        <div class="detail-desc" data-description></div>

        <hr>

        <div class="detail-section">
          <div class="detail-label">Términos del cupón:</div>
          <div class="stars-wrapper" id="stars-wrapper">
            <div id="starsdetail" data-stars></div>
          </div>
          <ul class="detail-list" data-restric></ul>
        </div>

        <button class="btn-primary" data-use>USAR AHORA</button>
        
      </div>
    </div>
  </div>
</template>
