.stars-wrapper {
  position: relative;
  /* display: inline-block; */
}

.star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.616));
}

.star.on {
  color: gold;
}

.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.stars-wrapper.show-tooltip .tooltip {
  opacity: 1;
}
